pandas==2.2
matplotlib==3.9

boto3==1.34.131

apsw==3.46

tqdm==4.66
nicegui==1.4.27

pynwb
nwbwidgets
# braingeneers @ git+https://github.com/braingeneers/braingeneerspy.git

ipython
jupyter
jupyter-console
black