boto3
awscli

tqdm

pandas
matplotlib

psycopg2
SQLAlchemy

# flask
# flask-cors

streamlit

# pynwb
# braingeneerspy [all] @ git+https://github.com/braingeneers/braingeneerspy.git
# vaex

# jupyter
# ipython

black